html, body {
  box-sizing: border-box;
  min-width: 280px;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
}

#navbar {
  position: fixed;
  width: 300px;
  height: 100%;
  border-right: 6px double black;
}

nav header {
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

nav a {
  display: block;
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 15px 15px;
  cursor: pointer;
}

a {
  color: dodgerblue;
}

a:hover {
  color: pink;
}

#diagram {
  width: 800px;
}

@media (max-width: 800px) {
  
  #navbar {
    width: 200px;
  }

  nav header {
    font-size: 18px;
  }

  nav a {
    font-size: 18px;
    padding: 10px 15px;
  }

  #main-doc {
    margin-left: 210px;
  }

  #diagram {
    width: 450px;
  }
}
